.product-list {
  &__banner {
    width: 100vw;
    height: 280px;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50.6vw !important;
    margin-right: -50vw;
    margin-top: -20px;
    &__img {
      width: 100%;
      height: 100%;
    }
    &__content {
      position: absolute;
      top: 0;
      left: 0;
      color: white;
      display: flex;
      align-items: center;
      height: 100%;
      width: 100%;
      &__wrap {
        width: fit-content;
      }
      &__title {
        text-transform: uppercase;
        font-size: 50px;
        font-weight: 400;
        line-height: 65px;
        border-bottom: 1px solid #ffffff;
        padding: 0 15px;
        &--red {
          color: #e6400c;
          margin-right: 10px;
        }
      }
      &__detail {
        font-size: 20px;
        font-weight: 300;
        text-align: center;
      }
    }
  }
  &__sort,
  &__search {
    width: 100%;
    padding-bottom: 20px;
  }

  &__search {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      margin-bottom: 0;
      padding-top: 3px;
      font-family: 'PT Sans Narrow', sans-serif;
      font-weight: 500;
      line-height: 1.1;
      color: inherit;
    }
    &--search-key {
      color: #e6400c;
    }
    &__wrap {
      width: 50%;
      input:focus {
        border: solid 1px #e94d1c;
      }
    }
  }
  &__wrap {
    display: flex;
    align-items: flex-start;
    width: 100%;
    flex-wrap: wrap;
  }
  &__result {
    margin: 0 -15px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  &__none {
    padding: 20px;
    color: red;
    font-size: 18px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .owl-item.active .product-item {
    margin-right: 0;
  }
  .sidebar,
  .filter-product,
  .best-seller {
    min-width: 100%;
    padding: 0;
  }
  .filter-product,
  .best-seller {
    padding: 15px;
    margin-bottom: 25px;
  }
  .mobile-none {
    @media screen and (max-width: 991px) {
      display: none;
    }
  }
}
