.prompt-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  z-index: 999999;
  .prompt {
    position: absolute;
    left: 50%;
    top: 30%;
    padding: 20px;
    width: 500px;
    max-width: 90%;
    transform: translate(-50%, -50%);
    background: #fff;
    h2 {
      margin-bottom: 20px;
    }
    h5 {
      margin-bottom: 30px;
    }
    button {
      background: #ea4c1d;
      border: none;
      color: #fff;
      text-transform: uppercase;
      padding: 3px 10px;
    }
  }
  .btn-confirm {
    text-align: right;
  }
}

