.best-seller {
  background-color: white;
  padding: 15px;
  margin-bottom: 25px;
  &__item {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: solid 1px #eee;
    &:last-child {
      border-bottom: none;
      margin-bottom: 0;
    }
  }
  &__img {
    width: 100%;
    height: 100%;
  }
  &__name a {
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    color: #717880;
    &:hover {
      color: #e02222;
    }
  }
  &__cost {
    font-size: 16px;
  }
}
.component-title {
  color: #3e4d5c;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: 'PT Sans Narrow', sans-serif;
  padding-bottom: 15px;
}
.component-sub-title {
  color: #3e4d5c;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.d--none {
  display: none;
}
