.breadcrumb {
  background: none;
  .ant-breadcrumb-link * {
    text-transform: uppercase;
    color: #5f6d7b;
    font: 13px 'PT Sans Narrow', sans-serif;
    font-weight: 400;
    letter-spacing: 0.39px;
    &:hover {
      color: #e6400c;
      text-decoration: underline;
    }
  }
  .ant-breadcrumb {
    span:last-child {
      .ant-breadcrumb-link * {
        color: #e6400c;
      }
    }
  }
}
