.main-carousel {
  margin-bottom: 35px;
  &__item {
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
  }
  .slick-slider {
    width: 99.5vw;
    height: 90vh;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    margin-top: -20px;
    .carousel-btn {
      position: relative;
      z-index: 5;
    }
  }
  .slick-next {
    right: 5%;
    &::before {
      font-size: 50px;
      color: rgba(0, 0, 0, 0.5);
    }
  }
  .slick-prev {
    left: 3%;
    z-index: 5;
    &::before {
      font-size: 50px;
      color: rgba(0, 0, 0, 0.5);
    }
  }
  .slick-dots {
    bottom: 20px;
    li button {
      width: 10px;
      height: 10px;
      border: 1px solid white;
      border-radius: 50% !important;
      &:before {
        display: none;
      }
      &:hover {
        background: white;
      }
    }
    .slick-active {
      button {
        width: 15px;
        height: 15px;
        background: white;
      }
    }
  }
  .carousel-position-four {
    .carousel-position-five {
      top: 37%;
      left: 140%;
    }
  }
  .carousel-item-seven {
    display: flex;
    justify-content: center;
    align-items: center;
    &__btn {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
  .animate {
    transition: transform 0.6s;
    transition-delay: 0.5s;
  }
  .zoom-in {
    width: 63px;
    height: 63px;
  }

  .fade-in-down {
    transform: translate3d(0, -50%, 0);
  }

  .fade-in-up {
    transform: translate3d(0, 100%, 0);
  }

  .slick-active {
    .zoom-in {
      transform: scale(3);
    }
    .fade-in-down {
      transform: none;
    }
    .fade-in-up {
      transform: none;
    }
  }
}
