.picture-carousel {
  height: 100%;
  @media screen and (max-width: 991px) {
    margin: 30px 0;
  }
  .slick-dots {
    bottom: 20px;
    text-align: start;
    padding-left: 30px;
    li button {
      width: 18px;
      height: 18px;
      margin: 0 9px 0 0;
      background: transparent;
      border: solid 2px #c9cdce;
      border-radius: 50% !important;
      &:before {
        display: none;
      }
      &:hover {
        background: #abb0b1;
      }
    }
    .slick-active {
      button {
        background: #6f7a7c;
        border-color: #9ea7a9;
      }
    }
  }
  .slick-dots li button:before {
    font-size: 22px;
  }
  .img-responsive {
    width: 99%;
  }

  .slick-slider {
    height: 100%;
    .slick-list {
      height: 100%;
    }
    .slick-track {
      height: 100%;
    }
    .slick-slide > div {
      height: 100%;
    }
    .item {
      height: 100%;
      img {
        height: 100%;
      }
    }
  }
}
