.brand-carousel {
  margin: 0 15px;
  @media screen and (max-width: 991px) {
    margin: 30px 0;
  }
  .slick-dots {
    bottom: 20px;
    text-align: start;
    padding-left: 30px;
  }
  .slick-dots li button:before {
    font-size: 22px;
  }
  .owl-stage {
    width: 100% !important;
    .owl-item {
      width: 100% !important;
    }
    img {
      width: 100%;
    }
  }
}

.pre-footer {
  address {
    color: #b0b0b0;
  }
}
