.header-navigation > ul > li {
  &:hover {
    .link-dropdown::after {
      bottom: 0;
      width: 0;
      height: 0;
      z-index: 1002;
      content: " ";
      display: block !important;
      position: absolute;
      border-bottom: 8px solid #e6400c;
      border-right: 8px solid transparent;
      border-left: 8px solid transparent;
    }
  }
}
.menu-search {
  &:hover {
    .search-box {
      display: block;
    }
  }
}
.search-box {
  display: none;
}
